/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [PYPY_PAYOR_NAME]
      ,[LOBD_ID]
      ,[LOBD_MCTR_TYPE]
      ,[LOBD_NAME]
      ,[CLCL_ID]
      ,[CLCL_ACPT_DTM]
      ,[CLCL_RECD_DT]
      ,[CLCL_HIGH_SVC_DT]
      ,[CLCL_PAID_DT]
      ,[CLCL_ID_ADJ_TO]
      ,[CLCL_ID_CRTE_FROM]
      ,[CSPD_CAT]
      ,[CDML_SEQ_NO]
      ,[CDML_FROM_DT]
      ,[CDML_CHG_AMT]
      ,[CDML_ALLOW]
      ,[CDML_PAID_AMT]
      ,[CDML_COPAY_AMT]
      ,[CDML_DISALL_AMT]
      ,[IDCD_ID]
      ,[IPCD_ID]
      ,[CLHP_INPUT_AGRG_ID]
      ,[AGRG_ID]
      ,[CLCK_INT_AMT]
      ,[SBSB_ID]
      ,[GRGR_NAME]
      ,[PRPR_NAME]
      ,[MCTN_ID]
      ,[PRFA_NAME]
      ,[PLDS_DESC]
      ,[CDML_DISALL_EXCD]
      ,[EXCD_LONG_TEXT1]
      ,[EXCD_LONG_TEXT2]
      ,[Denied_status]
      ,[USUS_ID]
      ,[Claim_Auto_Adjudication_Indicator]
      ,[VER]
      ,[CLAIM_ID]
  FROM [testdb].[dbo].[claim]